.container {
  max-width: 80%;
  margin: auto;
  box-sizing: border-box;
}
[role="tooltip"].popup-content {
  width: auto;
}
#popup-18 {
  width: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
.footer {
  background-color: #000020;
  padding: 100px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #01c7e9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links i:hover {
  color: #fff;
  background-color: #01c7e9;
}

.col2 {
  padding-left: 140px;
}
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe__input {
  background-color: #fff;
  border: 2px solid #01c7e9;
  border-radius: 50px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 80px 0 20px;
  text-align: center;
  /* text-transform: capitalize; */
  width: 100%;
}

.subscribe__btn img {
  max-width: 70%;
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.hiring {
  font-size: 12px;
  background: linear-gradient(
    to right,
    #00ff00 20%,
    rgb(128, 82, 255) 40%,
    #ff0 60%,
    #00ff08 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#popup-6 {
  width: auto;
}
#popup-5 {
  width: auto;
}
#popup-4 {
  width: auto;
}
#popup-3 {
  width: auto;
}
#popup-2 {
  width: auto;
}
#popup-1 {
  width: auto;
}
#popup-7 {
  width: auto;
}
#popup-8 {
  width: auto;
}
#popup-9 {
  width: auto;
}

/*responsive*/
@media (max-width: 1100px) {
  .footer-col ul li a {
    font-size: 15px;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .subscribe__btn {
    height: 40px;
  }
  .subscribe__btn img {
    max-width: 40%;
  }
  .subscribe__input {
    font-size: 8px;
    font-weight: 500;
    height: 40px;
    padding: 0 40px 0 10px;
  }
}
@media (max-width: 1300px) {
  .footer-col ul li a {
    font-size: 10px;
  }
  .footer-col .social-links a {
    height: 25px;
    width: 25px;
  }
  .footer-col {
    width: 25%;
    margin-bottom: 20px;
  }
  .col2 {
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  /* .subscribe__btn{
    height: 40px;
  } */
  .subscribe__btn img {
    max-width: 50%;
  }
  .subscribe__input {
    font-size: 16px;
  }
  .footer-col .social-links a {
    background-color: rgba(255, 255, 255, 0);
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.single_footer {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
  .col2 {
    padding-left: 15px;
  }
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  /* margin-bottom: 25px; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.single_footer p {
  color: rgb(208, 208, 208);
}

@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #000020;
}
.subscribe__btn button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
