.career-head {
  background: url(../../../../public/img/career/bg-career.png);
  background-size: cover;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.career-div {
  width: 60%;
  text-align: center;
}

.career-div h1 {
  font-size: 66px;
  font-weight: bold;
  margin: 20px 0;
}

.career-div p {
  font-size: 37px;
  margin: 30px 0;
}

.career-div button {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 22px;
}

@media (max-width: 800px) {
  .career-head {
    height: 100vh;
    padding: 40px;
  }

  .career-div {
    width: 100%;
  }

  .career-div h1 {
    font-size: 26px;
  }

  .career-div p {
    font-size: 20px;
  }

  .career-div button {
    font-size: 18px;
  }
}
